@import "@radix-ui/colors/black-alpha.css";

/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 35px;
  height: 15px;
  background-color: #f9a8d4;
  border-radius: 9999px;
  position: relative;
  box-shadow: 0 2px 10px var(--black-a7);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.SwitchRoot:focus {
  box-shadow: 0 0 0 1px #f9a8d4;
}
.SwitchRoot[data-state="checked"] {
  background-color: #ec4899;
}

.SwitchThumb {
  display: block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px #f9a8d4;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(19px);
}

.Label {
  color: #000;
  font-size: 15px;
  line-height: 1;
}
